/*
    Document   : labs/CST336_Lab2/css/styles．css
    Created on : 2015-02-11 06:35 PM
    Author     : DWGarcia (AKA Dale)
    Description:This contains all of the styles that will be used in the Lab 2
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

/*Edit span = number totals of each user
 * 
 * =======================================================================================================================================================
 *   NOTE TO TEAM: sugessted: make user images and card images different classes/ID's.
 *                 I want to add a silver border to user's pics (see index in new tab.) 
 *                 and custom space both sets of images. 
 */

/*By others*/
body{
     font-family: Verdana, Arial, Times New Roman;
  
}
span {
    size: 8em;
    text-align: center;
    background: red;
    position: relative;
    top: -50;
    left: 10;
    border-radius: 3px;
}

footer {
    margin:64px;
    text-align:center;
}
/*End OF others*/

root {
    
    display: block;
    
}
body{
    background: orange;
}
#title{
    border-width:4px;
    background: #212142;
    color: silver;
    border-radius: 15px;
    text-align: center;
    
}
#wrapper{
    width: 600px;
    margin: auto;
    padding: 15px;
    border-radius: 7px;
    background: #44a8ff;
}
#winner{
    background: #46931f; /*Requested: FF0000?*/
    text-align: center;
    size: 8em;
    border-radius: 5px;
    width: 300px;
    position: relative;
    left: 150;
}
#button{
    color: black;
    background: #a83fa8;
    padding: 3px;
    border-radius: 2 px;
    color: yellow;
}
/*Not needed*/
#symbolStyle{
            font-Size: 6em;
}
img {
    padding: 5px;
    background: silver ;
    margin: 7px;
}

/*
/* Notes: author's notes for references
  #wrapper{
            width: 700px;
            margin: auto;
            background: green;
            padding: 10px;
            border-radius:15px;
        }  
        #mainHeader{
            color: green;
            background: yellow;
            text-align: center;
        }       
        .listStyle{
            color: violet;
        }
        li{
            list-style-type:square;
            
        }
        a{
            padding-right: 10px;
        }
        img{
            border: black 10px solid;
            border-radius:20px;
            margin-left: 15px;
            float:right;   
        }       
        body{
            font-family: Verdana, Arial, Times New Roman;
            background: #CAFAC3;
        }
        */